body{
    background: #f3f4f7;
}
.header{background: #fff; border-bottom: solid 1px #ddd;
    justify-content: space-between;
    height: 3.5rem;
    
}
.header.chat-header{
  padding-left: 54px !important;
}
.header .logo{
width: 110px;
}
.main-body{
    width: 100%;
    position: relative;
}
.main-container{
    overflow-x: hidden;
}
.header .amplify-nav-link{
    align-items: center;
    font-weight: 500;
    border-bottom: solid 2px transparent;
}
.header .amplify-nav-link:hover, .header .amplify-nav-link--active{
    color: #0d4c8f !important;
    background: transparent !important;
    border-bottom: solid 2px #0d4c8f;
}
.header .amplify-button{
  white-space:nowrap;
  padding: 0.25rem 0.5rem;
  padding-bottom: 8px;
}

.left-slide-close{
  gap: 0;
}
.left-slide-close .sidebar{
  margin-left: 0; 
}
.left-slide-open .sidebar{
  margin-left: -300px;
}

.sidebar{
background: #fff;
padding: 1rem;
border-right: solid 1px #ddd;
height: calc(100vh - 56px);
width: 300px;
min-width: 300px;
transition: all 500ms;
position: absolute;
z-index: 9;
}
.sidebar .nav-separator{
border-bottom: solid 1px #ddd;
}
.nav-separator .amplify-flex{
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}
.nav-separator{
    font-size: 14px;
}
.nav-separator .amplify-button{
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 16px;
}
.amplify-ai-conversation{
    height: calc(100vh - 104px);
}
.amplify-ai-conversation .amplify-dropzone .amplify-textarea{
      resize: none !important;
    min-height: 42px !important;
    height: 42px !important;
    line-height: 18px;
    font-size: 14px !important;
}

.amplify-ai-conversation__message--user{
    flex-direction: row-reverse;
}
.amplify-ai-conversation__message__body{
    background: #fff;
    border: solid 1px #ddd;
    padding: 0.25rem 1rem;
    border-radius: 8px;
}
.amplify-ai-conversation__message__sender__timestamp{font-size: 14px;}
.amplify-avatar{
    background: #6E8E3B;
    color: #fff;
    font-size: 24px;
}
.amplify-ai-conversation__message--assistant .amplify-ai-conversation__message__body{
    background: #f7fcff;
    border: solid 1px #cce1ef;
}
.amplify-ai-conversation__message--assistant .amplify-avatar{background: #0D4C8F;}
.create-chat-container{
  display: none;
}
.create-chat-container button{
    width: 100%;
}

.chat-index{
    padding: 1rem;
    overflow: auto;
    position: relative;
    height:calc(100vh - 112px);
    margin-top: 8px;
}
.chat-index h2, .chat-index p{ margin-bottom: 0.5rem;}
.chat-index ul li{padding: 0.5rem 0;}

.recipeGenerator-search{
  background: #fff;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
}
.recipe-page{
  gap: 0.5rem;
  overflow: hidden;
}
.recipe-page .amplify-scrollview{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.recipe-page h2{
  font-size:1.5rem;
font-weight: bold;
}

/* Markdown Styling */
.markdown-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 1rem 0;
  }
  
  .markdown-content a {
    color: #0d4c8f;
    text-decoration: none;
  }
  
  .markdown-content a:hover {
    text-decoration: underline;
  }
  
  .markdown-content pre {
    background: #f7f7f7;
    border: 1px solid #ddd;
    padding: 0.5rem;
    overflow-x: auto;
    border-radius: 4px;
  }
  
  .markdown-content code {
    background: #f7f7f7;
    padding: 0.2rem;
    border-radius: 4px;
    font-family: Consolas, monospace;
  }
  
  /* Attachment Styling */
  .attachment-container {
    margin-top: 0.5rem;
  }
  
  .attachment-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 0.5rem;
  }
  
  .attachment-container a {
    color: #0d4c8f;
    text-decoration: none;
  }
  
  .attachment-container a:hover {
    text-decoration: underline;
  }
.markdown table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .markdown th,
  .markdown td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  .markdown th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .markdown tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .markdown tr:hover {
    background-color: #f1f1f1;
  }
    

  button{
    padding: 0.25rem;
  }
  button:focus{
    box-shadow: none !important;
  }
  .toggle-button{
    width: 32px;
    height: 32px;
    left: 10px;
    top: 12px;
    position: absolute;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    z-index: 9;
  }

/* -- recipe Generator page ---*/
.recipe-page .amplify-scrollview{
  height: calc(100vh - 202px);
}

  .footer{
    background: #fff;
    border-top: solid 1px #fff;
    height: 48px;
    border-top: solid 1px #ddd;
    padding:0.5rem  0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .footer button{
  padding: 0.25rem 0.5rem !important;
  font-size: 14px;
  height: 32px !important;
 }
 .footer a{
  height: 32px;
  padding: 0.25rem 0.5rem !important;
  font-size: 14px;
  border-radius: 0.25rem;
  border: solid 1px #89949f;
  color: #0d1926;
  font-weight: bold;
  text-decoration: none;
 }
 .top-link-web{
  display: none;
 }
  @media only screen and (min-width: 991px) {
  .sidebar{
    position: relative;
    height: calc(100vh - 56px);
  }
  .left-slide-close .sidebar{
    margin-left: -300px; 
  }
  .left-slide-open .sidebar{
    margin-left: 0;
  }
  .chat-index{
    height: calc(100% - 10px);
  }
  .amplify-ai-conversation{
    height: calc(100vh - 56px);
}
.top-link-web{
  display: flex;
 }
  .create-chat-container{
    display: block;
  }

    .footer{
      display: none;
    }
    .recipeGenerator-search{
      padding: 1rem;
    }
    .recipe-page .amplify-scrollview{
      height: calc(100vh - 170px);
    }
  }

.innerchat-page-scroll .amplify-scrollview{
  overflow: hidden;
}
  .innerchat-page-scroll .amplify-ai-conversation__message__list{
    height: 100%;
  overflow: auto;
  }